.icone {
    width: 6%;
}

.dados-cliente {
    width: 30%;
    height: 60vh;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);  
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    margin-left: 5%;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    width: 70%;
    border: 1px solid black;
    padding: 2%;
    border-radius: 8px;

}